<div th:fragment="head">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Gestion_Stock</title>
    <!-- Favicon icon -->
    <link rel="icon" type="/back/image/png" sizes="16x16" th:href="@{/back/images/favicon.png}">
    <!-- Pignose Calender -->
    <link th:href="@{/back/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" th:href="@{/back/plugins/chartist/css/chartist.min.css}">
    <link rel="stylesheet" th:href="@{/back/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/back/css/style.css}" rel="stylesheet">

  </head>
</div>